APP_URL=127.0.0.1
APP_PORT=8080

DATABASE_URL=postgres://marshell:password@127.0.0.1:5433/portfolio_db

ALLOWED_ORIGIN=127.0.0.1:3000

RUST_LOG=actix_web=debug
RUST_BACKTRACE=full

ADMIN_NAME="JOHN DOE"                                                                                                                          
ADMIN_PHONE="+237699999999"                                                                                                                    
ADMIN_EMAIL="johndoe@example.com"                                                                                                              
ADMIN_PASSWORD="password"
